.header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 1500px;
    padding-top: 150px;
}

.welcome-slogan{
    margin-top: 50px;
    margin-left: 25%;
    font-size: 30px;
}
