<div class="custom-navbar"> 
    <div class="site-name">
        <h1 class="site-name">Dominick Thornton</h1>
    </div>
    <div class="custom-nav-links">
        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-house fa-2x"></i>
            <span class="custom-tooltiptext">Home</span>
        </a>

        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-user fa-2x"></i>
            <span class="custom-tooltiptext">About</span>
        </a>

        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-at fa-2x"></i>
            <span class="custom-tooltiptext">Contact</span>
        </a>

        <a href="https://www.linkedin.com/in/dominick-thornton-62b51a223" class="custom-tooltip">
            <i class="fa-brands fa-linkedin fa-2x"></i>
            <span class="custom-tooltiptext">LinkedIn</span>
        </a>

        <a href="https://github.com/domthor" class="custom-tooltip">
            <i class="fa-brands fa-github fa-2x"></i>
            <span class="custom-tooltiptext">GitHub</span>
        </a>
    </div>
</div>
