<div class="custom-navbar"> 
    <div class="site-name">
        <h1 class="site-name">{{ name }}</h1>
    </div>
    <div class="custom-nav-links">
        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-house fa-2x"></i>
            <span class="custom-tooltiptext">{{ home }}</span>
        </a>

        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-user fa-2x"></i>
            <span class="custom-tooltiptext">{{ about }}</span>
        </a>

        <a href="#" class="custom-tooltip">
            <i class="fa-solid fa-at fa-2x"></i>
            <span class="custom-tooltiptext">{{ contact }}</span>
        </a>

        <a href="https://www.linkedin.com/in/dominick-thornton-62b51a223" class="custom-tooltip">
            <i class="fa-brands fa-linkedin fa-2x"></i>
            <span class="custom-tooltiptext">{{ linkedin }}</span>
        </a>

        <a href="https://github.com/domthor" class="custom-tooltip">
            <i class="fa-brands fa-github fa-2x"></i>
            <span class="custom-tooltiptext">{{ github }}</span>
        </a>
    </div>
</div>
